.border{
  border-color: black;
  border-style: solid;
}

.green {
  background-color: green;
}

@media only screen and (min-width: 2000px) {
  .square {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1999px) {
  .square {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 799px) {
  .square {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 649px) {
  .square {
    height: 20px;
    width: 20px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
  .square {
    height: 10px;
    width: 10px;
  }
}

@media only screen and (max-width: 299px) {
  .square {
    height: 5px;
    width: 5px;
  }
}